@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
  }

a{
    text-decoration: none;
}  

.container p, h1, h2, h3, h4 ,h5 ,h6{
    font-family: 'Chivo Mono', monospace;

}  

.container{
    height: 100%;
    display: grid;
    justify-content: stretch;
    align-items: stretch;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    background-color: antiquewhite;
    text-align: center;
    width: 100vw;
  height: 100vh;
}

.container > div{
    display: grid;
}

.header{
    background-color: #379683;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row:1 / 2;
    padding: 5px;
}

#search-icon{
    align-self: center;
    justify-self: end;
    grid-column: 1 / 2;
}

#search{
    appearance: none;
    background-color:#DCDCE8;
    border-radius: 10px;
    grid-column: 2 / 4;
    height: 30%;
    width: 100%;
    justify-self: end;
    align-self: center;
}

#noti{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-column: 5 / 7;
    grid-row: 1 / 2;

}

#noti > h2{
    justify-self: start;
}

#noti img[src="anas.jpg"]{
    height: 45px;
    width: 45px;
    border-radius: 20px;
}

#profile img[src="anas.jpg"]{
    height: 55px;
    width: 55px;
    border-radius: 30px;
}


#noti > h2{
    grid-column: 3 / 4;
}

#btns{
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-end;
    padding-bottom: 5px;
    grid-column: 5 / 7;
    grid-row: 2 / 3;

}

#btns > button{
    color:white;
    background-color:#05306B;
    height: 50%;
    width: 100%;
    border-radius: 20px;
}

#btns >button:hover{
    background-color:#379683;
}

#new{
grid-column: 1 /2 ;
}

#upload{
grid-column: 2 / 3;
}

#share{
grid-column: 3 / 4;
}

#profile{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns:1fr 3fr ;
    grid-template-rows: 1fr 1fr;
    grid-row: 2/ 3;
    grid-column: 2 / 4;
}

#profile img{
    align-self: center;
    justify-content: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#profile h5{
    text-align: start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#profile h2{
    text-align: start;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.sidebar{
    background-color:#EDF5E1;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.sidebar > h1{
    height: fit-content;
    padding: 30px;
text-align: center;
}

.sidebar-container{
    align-items: flex-start;
    justify-content: start;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.sidebar-container .title{
    align-items: flex-start;
    justify-content: start;
    color:black ;
    grid-column: 2 / 3;
    display: grid;
    gap: 40px;
    grid-template-rows: repeat(9, 1fr);
} 

.sidebar-container .icon{
    align-items: flex-end;
    justify-content: center;
    grid-column: 1 / 2;
    display: grid;
    gap: 35px;
    grid-template-rows: repeat(9, 1fr);
} 

.main{
    padding: 10px;
    gap: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 7fr;
    background-color: #5CDB95;
    grid-row:2 / 3;
    grid-column: 2 / 3;
}

.main > .project{
    padding: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: fit-content;
    width: fit-content;
    text-align: start;
    font-weight: bolder;
}

.main .cards{
    padding: 10px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.cards div h3{
    font-size: 24px;
}

.cards div h3,p{
    text-align:left;
}

.cards div p{
    font-size: 18px;
}

.cards-icon{
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.cards > div{
    padding: 10px;
    border-radius: 10px;
    background-color: aliceblue;

}

.side-main{
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.anouncment{
grid-column: 2 / 3;
grid-row: 1 / 2;
align-self: center;
}

.trend{
align-self:center;
}

.side-main .first{
    gap: 5px;
    padding:15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    background-color: whitesmoke;
    width: fit-content;
    height: fit-content;
    align-self: center;
}

.first > div{
    width: fit-content;
    height: fit-content;
}

.side-main .second{
    gap: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    background-color: whitesmoke;
    align-self: flex-end;
}

img[src="odin.jpeg"], img[src="codeacademy.png"], img[src="codecamp.png"]{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    justify-self:center ;
}


.side-main h3, h4{
    text-align: start;
}

.privacy{
    font-size: 15px;
}

.para{
    color: blue;
    font-size: 20px;
}

.side-main p{
    font-size: 15px;
    text-align: start;
}

.second > div{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.second > div > img{
    grid-column: 1 / 2;
}

.second > div > h4, p{
    grid-column: 2 / 3;
}

.second > div > p{
    font-size: 11px;
    font-weight:bold;
}

.second > div > h3{
    text-align: start;
}

